*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#eef0f5;
}

.hero{
padding:60px;
background:
linear-gradient(90deg,black,#34005d);
color:white;
}

.hero h1{
font-size:64px;
margin-bottom:30px;
}

.chips{
display:flex;
gap:16px;
}

.chips div{
border:2px solid white;
padding:12px 24px;
border-radius:40px;
}

.main{
display:flex;
}

.sidebar{
width:260px;
padding:35px;
}

select,button{
width:100%;
padding:14px;
margin-top:20px;
border:none;
border-radius:12px;
}

button{
background:#3554ff;
color:white;
}

.content{
flex:1;
padding:35px;
}

.cards{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
}

.card{
background:white;
border-radius:24px;
padding:25px;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
position:relative;
box-shadow:0 8px 30px rgba(0,0,0,0.08);
transition:.4s;
}

.card:hover{
transform:
translateY(-8px);
}

.score{
position:absolute;
top:20px;
left:20px;
width:60px;
height:60px;
border:5px solid #3554ff;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}

.imgBox{
height:180px;
display:flex;
align-items:center;
justify-content:center;
margin-top:40px;
}

.imgBox img{
width:220px;
height:150px;
object-fit:contain;
}

.card h2{
font-size:30px;
margin-top:20px;
}

.price{
font-size:38px;
color:#3554ff;
font-weight:700;
margin:15px 0;
}

.specs{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
width:100%;
}

.specs div{
padding:15px;
background:#f6f7ff;
border-radius:14px;
}

.plus{
margin-top:25px;
width:60px;
height:60px;
background:#3554ff;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:42px;
color:white;
}

@media(max-width:1000px){
.main{
flex-direction:column;
}

.cards{
grid-template-columns:1fr;
}

}
input{
width:100%;
padding:14px;
border:none;
border-radius:12px;
margin-bottom:20px;
}

.rating{
color:#ff9900;
font-size:22px;
margin-bottom:10px;
}

.performance{
margin-bottom:18px;
color:#3554ff;
font-weight:bold;
}

.compare{
margin-top:20px;
padding:14px 30px;
background:linear-gradient(90deg,#3554ff,#6f83ff);
border-radius:40px;
color:white;
cursor:pointer;
}

.compare:hover{
transform:scale(1.05);
}
.empty{
grid-column:1/-1;
background:white;
padding:80px;
border-radius:24px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.empty .emoji{
font-size:90px;
margin-bottom:20px;
}

.empty h2{
font-size:38px;
margin-bottom:15px;
color:#3554ff;
}

.empty p{
font-size:18px;
color:gray;
}

.heroTop{
display:flex;
justify-content:space-between;
align-items:center;
}

.modeBtn{
width:60px;
height:60px;
border:none;
border-radius:50%;
font-size:24px;
cursor:pointer;
}

.dark{
background:#111;
color:white;
}

.dark .sidebar{
background:#181818;
}

.dark .card{
background:#222;
color:white;
}

.dark .specs div{
background:#333;
}

.dark input,.dark select{
background:#333;
color:white;
}

.dark .empty{
background:#222;
}

.dark .price{
color:#7f96ff;
}